body {
  margin: 0;
}

.grid {
display: grid;
grid-template-columns: repeat(12, 1fr);
gap: 30px;
}

header {
    color: aliceblue;
padding: 20px 40px;
background: #333;
grid-column: span 12;;
align-items: center;
}

header h1 {
    grid-column: span 6;
}
header nav {
    grid-column: 7 / span 6;
    justify-self: end;
 
}
header nav a {
    color: aliceblue;
    margin-left: 10px;
}

main {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
}

.folio-img-1 {
    grid-column: span 12;
    width: 100%;
    border-radius: 6px;
}